.SortMenu {
  display: flex;
  margin: 10px;
}

.SortMenu h4 {
  margin-right: 5px;
}


.ButtonsKitty-b1,
.ButtonsKitty-b2,
.ButtonsKitty-b3 {
  margin-left: 1px;
  background-color: rgb(129, 130, 130);
  color: rgb(255, 255, 255);
}


.allakatter {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;

}

.listofcats {
  flex: 40%;
  padding: 20px;

  margin-right: 10px;
  list-style: none;
}